version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    commit-message:
      include: scope
      prefix: ci
    labels:
      - 'type: chore'

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    commit-message:
      include: scope
      prefix: chore
    labels:
      - 'type: chore'
